.card{
	padding: 50px 0;
	height: 100%;
}

.label{
	display: inline-block;
	text-align: right;
	margin-right: 24px;
	width: 200px;
}

.multilineTextFieldLabel{
	vertical-align: top;
	margin-top: 15px;
}

.control{
	display: inline-block;
}

.submit{
	margin: 12px;
	margin-top: 60px;
}

.textCenter{
	text-align: center;
}