@import '../root/_variables.scss';

.bookTable {
	border-collapse: collapse;
	margin: 100px auto;
	width: 800px;
}


.bookTable td, .bookTable th {
	height: 30px;
	padding: 3px 10px;
	text-align: center;
	border-left: 1px solid $main-bg-color;
}

.bookTable th {
	font-size: 15px;
	background-color: $main-bg-color;
	color: $main-text-color;
}

.bookTable td {
	color: #00496B;
	border-left: 1px solid $main-bg-color;
	font-size: 14px;
}

.bookTable tbody td:first-child {
	border-left: none;
}