$header-bg-color: #222222;
$header-text-color: #00D8FF;

.container{
	padding-left: 10px;
	height: 50px;
	line-height: 2;
	color: $header-text-color;
	background-color: $header-bg-color;
}

.title{
	display: inline-block;
	vertical-align: top;
	padding-top: 10px;
	margin-left: 10px;
}

.logo{
	margin: 10px;
	height: 30px;
	width: 30px;
}