@import '../root/_variables.scss';

.container{
	padding-left: 10px;
	height: 50px;
	line-height: 2;
	color: $main-text-color;
	background-color: $main-bg-color;
	cursor: pointer;
}

.title{
	display: inline-block;
	vertical-align: top;
	padding: 10px;
}

.logo{
	margin: 10px;
	height: 30px;
	width: 30px;
}

.username{
	float: right;
	padding: 10px;
	margin-right: 10px;
}