{
  "plugins": [
    "transform-object-assign",
    //"transform-react-constant-elements", // Optimize calls to React.createElement (production only)
    //"transform-react-inline-elements", // Replace React.createElement with a production optimized version (requires babel-polyfil)
    ["transform-es2015-classes", {
      "loose": true
    }]
  ],
  "presets": ["es2015", "react"]
}