.container{
	width: 600px;
	margin: 100px auto;
}

.card{
	padding: 50px;
}

.row{
	margin: 10px 0;
}

.label{
	display: inline-block;
	text-align: right;
	margin-right: 8px;
	width: 200px;
}

.control{
	display: inline-block;
}

.footer{
	margin-top: 40px;
}

.textCenter{
	text-align: center;
}