@import '../root/_variables.scss';

$headerHeight: 50px;

.container{
	position: relative;
	padding-left: 10px;
	height: $headerHeight;
	line-height: 2;
	color: $main-text-color;
	background-color: $main-bg-color;
}

.title{
	display: inline-block;
	margin-left: 10px;
}

.logo{
	margin: 10px;
	height: 30px;
	width: 30px;
	vertical-align: middle;
}

.buttonPanel{
	position: absolute;
	right: 20px;
	top: 0;
}

.button{
	min-width: 50px !important;
	margin-right: 12px;
}

.separator{
	display: inline-block;
	border-right: 2px solid $main-text-color;
	height: $headerHeight;
	vertical-align: middle;
	width: 12px;
	margin-right: 24px;
}