@import '../root/_variables.scss';

.container{
	position: relative;
	padding-left: 10px;
	height: 50px;
	line-height: 2;
	color: $main-text-color;
	background-color: $main-bg-color;
}

._headerPanel{
	padding-top: 10px;
}

.title{
	@extend ._headerPanel;
	display: inline-block;
	margin-left: 10px;
}

.logo{
	margin: 10px;
	height: 30px;
	width: 30px;
	vertical-align: middle;
}

.buttonPanel{
	@extend ._headerPanel;
	position: absolute;
	right: 20px;
	top: 0;
}

.button{
	min-width: 50px !important;
	margin-right: 12px;
}